<div class='wrapper'>
	<h2 class='title'>QR-код на&nbsp;покупку создан</h2>
	<p class='subtitle info'>При оплате покажите его сотруднику на&nbsp;кассе</p>
	<img class='qr__img'
		src='/assets/img/qrCode.svg'
	     alt='qrCode'>
	<h1 class='qr__info'>E25GHR0P</h1>
	<p class='info'>Если не&nbsp;получается отсканировать QR-код, введите код вручную или продиктуйте сотриднику на&nbsp;кассе</p>
	<app-button (click)='closeDialog()' text='Закрыть' [width]='100'></app-button>
</div>
