@import "mixins"

\:host
	display: block

.wrapper
	display: flex
	flex-direction: column
	row-gap: 24px

.title
	@include text-28-32
	color: rgba($c-main, 0.88)

.qr
	&__img
		width: 100%
	&__info
		margin-top: 8px
		text-align: center
		@include text-32-32
		line-height: 28px
		color: rgba($c-main, 0.88)
		@include mobile
			line-height: 32px

.subtitle
	margin-top: 8px

.info
	color: rgba($c-main, 0.72)
	@include text-14-20


