@import "mixins"

\:host
	display: block
	height: 80px
	background-color: white
	box-shadow: 0 0.5px 0 rgba($c-shadow, 0.12)

.header
	&__wrapper
		display: flex
		flex-direction: row
		justify-content: space-between
		max-width: 1200px
		width: 75vw
		height: 80px

		margin: 0 auto
		padding: 31px 0

	&__navigation
		display: flex
		flex-direction: row
		column-gap: 48px

	&__auth
		display: flex
		flex-direction: row
		align-items: center
		column-gap: 48px

.navigation
	display: flex
	column-gap: 24px

.link
	color: rgba($c-main, 0.64)
	@include text-14

	&--active
		color: rgba($c-main, 1)
		border-bottom: 3px solid $c-green
		padding-bottom: 46px

.btn
	display: flex
	flex-direction: row
	column-gap: 8px
	align-items: center

.open__menu
	@include exclude-tablet
		display: none

.wrapper
	@include tablet
		width: 100%
		padding: 0

.navigation, .header__auth
	@include tablet
		display: none


