<header>
	<div class='header__wrapper'>
		<div class='header__navigation'>
			<a routerLink=''>
				<img src='/assets/img/logo.svg'
				     alt='logo'>
			</a>
			<nav class='navigation'>
				<a routerLink='/'
				   class='link'
				   [routerLinkActiveOptions]='{exact:true}'
				   routerLinkActive='link--active'>Главная</a>
				<a routerLink='/collection-points'
				   class='link'
				   routerLinkActive='link--active'>Пункты сбора</a>
				<a routerLink='/market'
				   class='link'
				   routerLinkActive='link--active'>ЭкоМаркет</a>
				<a routerLink='/about-service'
				   class='link'
				   routerLinkActive='link--active'>О&nbsp;сервисе</a>
			</nav>
		</div>
		<div class='header__auth'>
			<ng-container *ngIf='userAuth'>
				<button class='btn'>
					<img src='/assets/img/currency.png'
				             alt=''>
					<p>1000</p>
				</button>
				<a routerLink='/profile'>
					<app-button-with-icon
						text='Алексей'
						icon="miniAvatar">
					</app-button-with-icon>
				</a>
			</ng-container>
			<ng-container *ngIf='!(userAuth)'>
			<app-button-with-icon
				text='Казань'
				icon='Geo'>
			</app-button-with-icon>
			<app-button-with-icon
				(click)='openModal()'
				text="Войти"
				icon="Login">
			</app-button-with-icon>
			</ng-container>
		</div>
		<button class='open__menu'
		        (click)='openMenu()'>
			<app-icon name='menu'></app-icon>
		</button>
	</div>
</header>
