<app-layout-container>
	<main>
		<h1>Личный кабинет</h1>
		<div class='info__wrapper'>
			<section>
				<div class='block__avatar'>
					<img src='/assets/img/mockAvatar.png'
					     class='block__avatar__img'
					     alt='avatar'>
					<h2 class='block__avatar__name'>Алексей Петрович</h2>
					<div class='block__avatar__addition'>
						<p>+7 (917) 888 88&nbsp;88</p>
						<p>ivanov@gmail.com</p>
					</div>
					<app-button class='btn'
					            status='secondary'
					            text='Редактировать'
					            [width]='100'></app-button>
				</div>
			</section>
			<section class='block__user__info'>
				<nav class='navigation'>
					<a routerLink='promocodes'
					   class='link'
					   routerLinkActive='link--active'
					   [routerLinkActiveOptions]='{exact:true}'>Промокоды</a>
					<a routerLink='history'
					   class='link'
					   routerLinkActive='link--active'
					   [routerLinkActiveOptions]='{exact:true}'>История</a>
				</nav>
				<router-outlet></router-outlet>
			</section>
		</div>
	</main>

</app-layout-container>
