@import "mixins"

\:host
	display: block

main
	width: 75vw
	max-width: 1200px
	margin: 40px auto
	@include mobile
		width: 92%

h1
	@include text-40-48

.info
	&__wrapper
		display: flex
		flex-direction: row
		column-gap: 48px
		margin-top: 40px
		@include tablet
			flex-direction: column
			row-gap: 24px
		@include mobile
			flex-direction: column
			row-gap: 24px


.block
	&__avatar
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 32px
		border: 1px solid rgba(#3E507228, 0.16)
		border-radius: 20px
		width: 24vw
		min-width: 216px
		@include tablet
			width: 100%

		@include mobile
			max-width: 343px

		@include exclude-tablet
			max-width: 384px

		&__img
			max-width: 128px
			max-height: 128px

		&__name
			@include text-24-28
			margin-top: 24px
			text-align: center

		&__addition
			margin-top: 16px
			@include text-16-20
			color: rgba($c-main, 0.72)

		&__user__info
			max-width: 768px

.navigation
	height: 40px
	padding-top: 7px
	display: flex
	flex-direction: row
	column-gap: 24px
	box-shadow: 0 0.5px 0 rgba($c-shadow, 0.12)
	max-width: 768px
	width: 48vw

.link
	@include text-20-26
	color: rgba($c-main, 0.64)

	&--active
		padding-bottom: 4px
		border-bottom: 3px solid $c-green
		color: rgba($c-main, 1)

.btn
	width: 100%
	margin-top: 24px

