@import "mixins"

main
	width: 75vw
	max-width: 1200px
	margin: 40px auto
	@include mini-tablet
		width: 100%
		margin: 0 auto

.cards
	display: flex
	justify-content: space-between
	column-gap: 40px
	margin-top: 40px

	& > *
		flex: 1

	@include mini-tablet
		flex-direction: column
		width: 91vw
		row-gap: 24px

		position: relative
		z-index: 2
		margin: 0 auto
		top: -116px

.navigation
	display: flex
	flex-direction: row
	justify-content: space-between
	width: 100%
	position: relative
	top: -180px
	z-index: 1
	@include mini-tablet
		display: none

	&__btn
		width: 44px
		height: 44px
		box-shadow: 0 4px 24px rgba($c-main, 0.12)
		border-radius: 50px
		background-color: white

		&--next
			position: absolute
			right: -22px

		&--prev
			position: absolute
			left: -22px


.navigation--btn--next, .navigation--btn--prev
	display: flex
	justify-content: center
	align-items: center

.swiper
	border-radius: 24px
	overflow: hidden
	@include mini-tablet
		border-radius: 0
