<app-layout-container>
	<main>
		<section class='swapper'>
			<swiper
				#swiper
				[slidesPerView]='1'
				[spaceBetween]='50'
				[loop]='true'
				class='swiper'
			>
				<ng-template swiperSlide>
					<app-slide-swiper
						title='Сделаем мир чище'
						subtitle='Сдай макулатуру или старую одежду и&nbsp;получи скидку на&nbsp;покупку товаров из&nbsp;переработанных материалов'
						btn='Условия сервиса'
						img='/assets/img/MakeWordClean.svg'
						link='about-service'></app-slide-swiper>
				</ng-template>
				<ng-template swiperSlide>
					<app-slide-swiper
						title='А&nbsp;вы&nbsp;знали...'
						subtitle='что среднее время разложения пластмассовых изделий колеблется от&nbsp;400 до&nbsp;700&nbsp;лет, а&nbsp;полиэтиленовых пакетов&nbsp;&mdash; от&nbsp;100 до&nbsp;200&nbsp;лет?'
						btn='Узнать больше'
						img='/assets/img/AreYouKnow.svg'
						back__color='YELLOW'
					>
					</app-slide-swiper>
				</ng-template>
				<ng-template swiperSlide>
					<app-slide-swiper
						title='Что с&nbsp;масками?'
						subtitle='Медицинские маски не обязательно должны становиться отходами.Их тоже можно сдать на переработку.'
						btn='Пункты сбора масок'
						img='/assets/img/WhatWithMask.svg'
						back__color='BLUE'
						link='collection-points'>
					</app-slide-swiper>
				</ng-template>
			</swiper>
			<div class='navigation'>
				<button class='navigation__btn navigation__btn--prev'
				        (click)='slidePrev()'>
					<app-icon name='prev'></app-icon>
				</button>
				<button class='navigation__btn navigation__btn--next'
				        (click)='slideNext()'>
					<app-icon name='next'></app-icon>
				</button>
			</div>
		</section>
		<section class='cards'>
			<app-card-page
				title='Пункты сбора'
				subtitle='Посмотри, где в&nbsp;твоем городе можно сдать вторсырье на&nbsp;переработку'
				img='/assets/img/map.svg'
				link='collection-points'>

			</app-card-page>

			<app-card-page
				title='ЭкоМаркет'
				subtitle='Используй заработанные экокоины для покупки товаров из&nbsp;переработанных материалов'
				img='/assets/img/bought.svg'
				link='market'></app-card-page
			>
		</section>
	</main>
</app-layout-container>
