@import "mixins"

\:host
	display: block

.bottom__sheet__wrapper
	&__btns
		display: flex
		flex-direction: column
		row-gap: 12px
		padding: 24px 0

.filters
	&__header--mobile
		display: flex
		flex-direction: row
		column-gap: 12px
	&__categories
		margin-top: 24px
		display: flex
		flex-direction: column
		row-gap: 24px

