<app-wrapper-bottom-sheet>
	<div class='bottom__sheet__wrapper'>
		<div class='filters__header--mobile'>
			<ng-container *ngFor='let filter of headersFilters; let i = index'>
				<app-button
					[borderRadius]='61'
					class='filters__btn'
					status='secondary'
					paddings='12-20'
					[text]='filter'></app-button>
			</ng-container>
		</div>
		<div class='filters__categories'>
			<app-checkbox-group
				filterGroupTitle='Пол'
				[arrCheckboxesInfo]='genderFilters'>
			</app-checkbox-group>
			<app-checkbox-group
				filterGroupTitle='Тип товара'
				[hasSelectAll]='true'
				[arrCheckboxesInfo]='categoryFilters'>
			</app-checkbox-group>
			<app-checkbox-group
				filterGroupTitle='Брэнд'
				[hasSelectAll]='true'
				[arrCheckboxesInfo]='brandFilters'>
			</app-checkbox-group>
		</div>
		<div class='bottom__sheet__wrapper__btns'>
			<app-button text='Применить'
			            paddings='12'
			            [width]='100'></app-button>
			<app-button text='Сбросить фильтры'
			            paddings='12'
			            status='secondary'
			            [width]='100'></app-button>
		</div>
	</div>
</app-wrapper-bottom-sheet>
