<div class='title__wrapper'>
	<h1 class='title'>Вход</h1>
	<button (click)='closeDialog()'>
		<app-icon name='close'
		          size='32px'>
		</app-icon>
	</button>
</div>
<form [formGroup]='form'
      class='form__wrapper'>
	<app-input
		formControlName='companyName'
		placeholder='Наименование организации'
	></app-input>
	<app-input
		formControlName='email'
		placeholder='Email'
	></app-input>
	<app-input
		formControlName='password'
		placeholder='Пароль'
		[type]="'password'"></app-input>
	<app-button [disabled]=!form.valid
	            [status]='form.valid ? "primary": "secondary"'
	            (click)='auth(form)'
	            [width]='100'
	            [text]="'Войти'"></app-button>
</form>

<section class='links'>
	<button class='btn__link'
	        (click)='openSignInModal()'>Я&nbsp;уже зарегистировался(-ась)
	</button>
</section>
