<div class='wrapper'>
	<div *ngFor='let item of historyArr; let i = index'>
		<app-history-card
			[date]='item.date'
			[address]='item.address'
			[cost]='item.cost'
			[material]='item.material'></app-history-card>
	</div>
</div>

