@import "mixins"

\:host
	display: block

.slide
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	height: 320px
	background: #B3EDC8
	@include mini-tablet
		border: none
		flex-direction: column
		row-gap: 0
		height: 425px

	&--blue
		background: #BFF0DE

	&--yellow
		background: #FFE48F

	&__info
		margin-left: 64px
		@include mini-tablet
			margin: 0
			padding: 24px 16px 0 16px

	&__img
		border-radius: 24px
		width: 35vw
		@include mini-tablet
			width: 100%
			height: auto

	&__title
		margin: 0
		@include adaptive-font(48, 24)
		font-weight: 700
		@include tablet
			line-height: 28px

	&__text
		line-height: 24px

		font-weight: 400

		margin-top: 16px
		margin-bottom: 0
		padding: 0

	&__btn
		margin-top: 40px
		padding: 12px 24px
		border-radius: 8px
		color: #FFFFFF
		background-color: $c-green
		@include mini-tablet
			width: 100%
			@include text-16-24
			letter-spacing: -0.25px
			margin-top: 24px


