<div class='slide'
     [class.slide--yellow]='back__color === "YELLOW"'
     [class.slide--blue]='back__color === "BLUE"'>
	<div class='slide__info'>
		<h1 class='slide__title'>{{title}}</h1>
		<p class='slide__text'>{{subtitle}}</p>
		<a [routerLink]='link'>
			<button class='slide__btn'>
				{{btn}}
			</button>
		</a>
	</div>

	<img class='slide__img'
	     [src]='img'
	     alt='makeWorldClean'>
</div>
