<div class='title--wrapper'>
	<h1 class='title'>Вход или регистрация</h1>
	<button (click)='closeDialog()'>
		<app-icon name='close'
		          size='32px'></app-icon>
	</button>
</div>
<form [formGroup]='form'
      class='form--wrapper'>

	<ng-container *ngIf='step === 1'
	>
		<app-input
			formControlName='phone'
			placeholder='Телефон'
			[hasMaskNumber]='true'
		></app-input>
		<app-button
			[disabled]="!form.controls['phone'].valid"
			(click)='auth()'
			[width]='100'
			[text]="'Получить код'"></app-button>
	</ng-container>


	<ng-container *ngIf='step === 2'>
		<div class='phone--info'
		     *ngIf='step === 2'>
			<p>Введите код отправленный вам на телефон
			</p>
			<p class='phone'>{{form.controls['phone'].value}}</p>
		</div>

		<app-input
			*ngIf='step === 2'
			formControlName='code'
			placeholder='Код'
		></app-input>

		<app-button
			[disabled]='!form.valid'
			(click)='auth()'
			[width]='100'
			[text]="'Отправить'"></app-button>
	</ng-container>

</form>

<section class='links'>
	<button class='btn--link'
	        (click)='openSignInModal()'>Я&nbsp;уже зарегистировался(-ась)
	</button>
</section>

<app-button class='btn--addition'
            [width]='100'
            [status]="'secondary'"
            [text]="'Вход для партнеров'"
            (click)='openSignInCompany()'>
</app-button>

