@import "mixins"

\:host
	display: block

.form__wrapper
	display: flex
	flex-direction: column
	row-gap: 24px
	margin-top: 48px
	@include mobile
		margin-top: 290px

.title
	@include text-28-32
	color: rgba($c-main, 0.88)

	&--wrapper
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center

.links
	display: flex
	justify-content: space-between
	margin-top: 16px

.btn
	&__link
		color: $c-green
		@include text-16-20

	&__addition
		margin-top: 32px
		@include mobile
		display: none

.phone
	color: $c-green

	&__info
		@include text-14-20
		color: $c-blue
