@import "mixins"

\:host
	display: block

.bottom__sheet
	&__wrapper__filters
		background-color: white

		&__items
			display: flex
			flex-direction: column
			row-gap: 24px

	&__btns
		display: flex
		flex-direction: column
		row-gap: 12px
		margin-top: 24px
