<app-wrapper-bottom-sheet>
	<div class='wrapper'>
		<button (click)='closeBottomSheet()'><div class='btn__close'></div></button>
		<div class='bottom__sheet__wrapper__filters'>
			<div class='bottom__sheet-__wrapper__filters__items'>
				<div>
					<h2>
						Материал
					</h2>
					<app-checkbox-group [arrCheckboxesInfo]='arrMaterials'></app-checkbox-group>

				</div>
				<div>
					<h2>
						Брэнд
					</h2>
					<app-checkbox-group [arrCheckboxesInfo]='arrShops'></app-checkbox-group>
				</div>
			</div>
			<div class='bottom__sheet__btns'>
				<app-button text='Применить'
				            paddings='12'
				            [width]='100'></app-button>
				<app-button status='secondary'
				            paddings='12'
				            text='Сбросить фильтры'
				            [width]='100'></app-button>
			</div>

		</div>

	</div>
</app-wrapper-bottom-sheet>
