<button
	(click)='changeOpen()'
	class='wrapper'
	cdkOverlayOrigin
	#origin
	#trigger='cdkOverlayOrigin'>
	<p class='text'>Выбрано {{arrSelect.length}} {{itemsName}}</p>
	<app-icon name='arrowForSelect'></app-icon>
</button>


<ng-template
	class='overlay__wrapper'
	cdkConnectedOverlay
	[cdkConnectedOverlayOrigin]='trigger'
	[cdkConnectedOverlayOpen]='isOpen'
	[cdkConnectedOverlayWidth]='originRect?.width!'>
	<div class='wrapper'>
		<app-checkbox-group [hasSelectAll]='true' [arrCheckboxesInfo]='arrSelect'></app-checkbox-group>
	</div>
</ng-template>
