@import "mixins"

\:host
	display: block

.wrapper
	width: 100%
	padding: 14px 20px
	box-shadow: 0 2px 8px rgba($c-shadow-blue, 0.12)
	border-radius: 8px
	background-color: white
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	column-gap: 6px

.overlay__wrapper
	width: 100%

.text
	display: block
	overflow-x: scroll
	max-height: 20px
	max-width: 214px
	width: 100%
	white-space: nowrap
	scrollbar-color: rgba($c-shadow, 0.24) transparent
	scrollbar-width: 1px
	scrollbar-height: 2px

	&::-webkit-scrollbar
		height: 5px
		width: 1px
