<h3>{{filterGroupTitle}}</h3>
<div>
	<form [formGroup]='form'
	      class='wrapper'>
		<app-checkbox
			*ngIf='hasSelectAll'
			formControlName="selectAll"
			title="Выбрать всё">
		</app-checkbox>

		<div [class.shadow]='arrCheckboxesInfo.length > 4'
		     [class.separator]='arrCheckboxesInfo.length <= 4'
		></div>

		<div formArrayName='selects'
		     class='checkboxes__wrapper'
		     [class.many-checkboxes__wrapper]='arrCheckboxesInfo.length > 4'>
			<div *ngFor='let item of getSelectsInfo().controls; let i = index'>
				<app-checkbox
					formControlName='{{i}}'
					title='{{arrCheckboxesInfo[i]}}'></app-checkbox>
			</div>
		</div>
	</form>
</div>


