@import "mixins"

.selected__portal
	width: 100px
	height: 100px
	border: 1px solid black

\:host
	display: block
	width: 100%

.map
	&__wrapper
		width: 100%
		height: 100%
		z-index: -1
		position: fixed
		top: 0

.wrapper
	margin: 40px auto
	max-width: 1200px
	width: 75vw
	@include tablet
		margin: 16px auto
		width: 91vw

.cards
	&__wrapper
		margin-top: 32px

.search
	display: flex
	flex-direction: row
	column-gap: 20px
	width: 100%
	@include tablet
		column-gap: 16px

.filter
	flex-grow: 1
	min-width: 280px

	&__btn
		&__wrapper
			box-shadow: 0 2px 8px rgba($c-shadow-blue, 0.12)
			padding: 12px
			background-color: white
			border-radius: 8px


.select
	width: 23%
	background: white

	box-shadow: 0 2px 8px rgba($c-shadow, 0.12)
	border-radius: 8px
	padding: 14px 20px
	border: none

.collection__points--mobile
	&__btn
		position: fixed
		bottom: 0
		padding: 16px 0
		width: 91vw
		background-color: white
		border-radius: 12px 12px 0 0
		@include exclude-mobile
			display: none

.filter__btn__wrapper, .collection__points--mobile__btn
	@include exclude-tablet
		display: none

.checkboxes
	max-width: 280px
	@include tablet
		display: none
