<app-layout-container [hasFooter]='false'>
	<app-map class='map__wrapper'></app-map>
	<main class='wrapper'>
		<div class='search'>
			<app-input-with-icon
				class='filter'
				iconName='Search'
				placeholder='Поиск'></app-input-with-icon>
			<app-selector class='checkboxes'
			              [arrSelect]='arrShops'
			              itemsName='магазина'></app-selector>
			<app-selector class='checkboxes'
			              [arrSelect]='arrMaterials'
			              itemsName='материала'></app-selector>
			<button (click)='openBottomSheetFilters()'
			        class='filter__btn__wrapper'>
				<app-icon name='filterSearch'></app-icon>
			</button>
		</div>
		<section class='cards__wrapper'>
			<div class='selected__portal__wrapper'>
				<ng-template [cdkPortalOutlet]='selectedPortal'></ng-template>
			</div>
		</section>

		<button class='collection__points--mobile__btn'
		        (click)='openBottomSheetListCollectionPoint()'>Показать пункты сбора
		</button>
	</main>

</app-layout-container>
