<div class='wrapper'>
	<img src='/assets/img/promocode.svg'>
	<div class='info'>
		<div>
			<p class='title'>Дата создания</p>
			<p class='data'>{{date}}</p>
		</div>
		<div>
			<p class='title'>Ссылка на&nbsp;товар</p>
			<p class='link'>{{link}}</p>
		</div>
	</div>
	<app-button
		class='btn'
		text='Показать qr-код'
		paddings='10-20'
		status='secondary'></app-button>
	<app-button
		class='btn--mobile'
		text='Показать qr-код'
		paddings='10'
		status='secondary'
		[width]='100'></app-button>
</div>
