@import "mixins"

\:host
	display: block

.wrapper
	display: flex
	flex-direction: row
	column-gap: 24px
	@include tablet
		flex-direction: column
		row-gap: 24px

.data
	margin-top: 4px
	color: rgba($c-main, 0.88)
	@include text-16-20

.title
	color: rgba($c-main, 0.4)
	@include text-14

.info
	display: flex
	flex-direction: column
	row-gap: 16px

.link
	color: $c-green

.btn
	@include tablet
		display: none
	&--mobile
		@include exclude-tablet
			display: none


