@import "mixins"

\:host
	display: block

.btn
	&--wrapper
		padding: 16px
		background-color: $c-green
		color: white
		border-radius: 8px

	&--secondary
		background-color: rgba($c-blue, 0.08)
		color: rgba($c-main, 0.8)

	&--border61
		border-radius: 61px

	&--paddings
		&--18-20
			padding: 18px 20px
		&--12-20
			padding: 12px 20px
		&--12
			padding: 12px 0
		&--10-20
			padding: 10px 20px
		&--10
			padding: 10px 0


.allWidth
	width: 100%


