<div class='title__wrapper'>
	<h1 class='title'>Вход</h1>
	<button (click)='closeDialog()'>
		<app-icon name='close'
		          size='32px'></app-icon>
	</button>
</div>
<form [formGroup]='form'
      class='form__wrapper'>
	<app-input
		formControlName='phone'
		placeholder='Номер телефона'
		[hasMaskNumber]='true'
	></app-input>
	<app-input
		formControlName='password'
		placeholder='Пароль'
		[type]="'password'"></app-input>
	<app-button [disabled]=!form.valid
	            (click)='auth(form)'
	            [status]='form.valid ? "primary": "secondary"'
	            [width]='100'
	            [text]="'Войти'"></app-button>
</form>

<section class='links'>
	<button class='btn__link'
	        (click)='openSignInWithSmsModal()'>Войти с&nbsp;помощью смс
	</button>
	<button class='btn__link'
	        (click)='openSignUpModal()'>Регистрация
	</button>
</section>

<app-button class='btn__addition'
            [width]='100'
            [status]="'secondary'"
            (click)='openSignInCompany()'
            [text]="'Вход для партнеров'">
</app-button>
