<label class='wrapper'>
	<input type='checkbox'
	       (click)='onClick()'>
	<div class='checkbox'
	     [class.checkbox--active]='value'>
		<ng-container *ngIf='value'>
			<app-icon name='success'
			          size='20px'></app-icon>
		</ng-container>
	</div>
	<p [class.text--active]='value'>{{title}}</p>
</label>
