@import "mixins"

\:host
	display: block

.wrapper
	display: flex
	align-items: center

.checkbox
	width: 20px
	height: 20px
	border: 1.5px solid rgba($c-main, 0.4)
	border-radius: 4px

	&--active
		padding: 1px
		background-color: $c-green
		border: none


p
	margin-left: 8px
	@include text-14-20
	color: rgba($c-main, 0.72)

.text--active
	font-weight: 500
