@import "mixins"
\:host
	display: block

.input
	@include text-14-20

	&::placeholder
		color: rgba($c-main, 0.4)

	&__wrapper
		padding: 20px 16px
		border: 1px solid rgba($c-main, 0.16)
		border-radius: 8px
