<div class='input__wrapper'>
	<input *ngIf='hasMaskNumber'
	       [imask]='maskVal'
	       (change)='onChange(input.value)'
	       [type]='type'
	       [placeholder]='placeholder'
	       [formControl]='input'
	       class='input'>
	<input *ngIf='!hasMaskNumber'
	       (change)='onChange(input.value)'
	       [type]='type'
	       [placeholder]='placeholder'
	       [formControl]='input'
	       class='input'>
</div>

