@import "mixins"

\:host
	display: block
	height: 64px
	box-shadow: 0px -0.5px 0px rgba($c-shadow, 0.12)

.wrapper
	display: flex
	flex-direction: row
	max-width: 1600px
	width: 75vw
	padding: 20px 0
	margin: 0 auto

	&__btns
		display: flex
		column-gap: 32px
		@include mobile
			flex-direction: column
			row-gap: 14px
