<footer>
	<div class='wrapper'>
		<div class='wrapper__btns'>
			<app-button-with-icon
				text='info@ecorus.ru'
				icon='mail'
				columnGap='8'>
			</app-button-with-icon>
			<app-button-with-icon
				text='+7 (800) 880-88-88'
				icon='call'
				columnGap='8'>
			</app-button-with-icon>
		</div>
	</div>
</footer>
