<div class='wrapper'>
	<div class='info'>
		<div>
			<p class='title'>Адрес</p>
			<p class='data'>{{address}}</p>
		</div>
		<div>
			<p class='title'>Материал</p>
			<p class='data'>{{material}}</p>
		</div>
		<div>
			<p class='title'>Дата</p>
			<p class='data'>{{date}}</p>
		</div>
	</div>

	<div class='cost'>
		<app-icon name='currency'></app-icon>
		<p>{{cost}}</p>
	</div>
</div>
