@import "mixins"

\:host
	display: block

.wrapper
	border: 1px solid rgba($c-blue-brightly, 0.16)
	border-radius: 20px
	padding: 32px

	display: flex
	flex-direction: row
	justify-content: space-between
	@include mobile
		flex-direction: column
		row-gap: 24px

.cost
	display: flex
	column-gap: 8px
	@include text-14-20
	font-weight: 600

.data
	margin-top: 4px
	color: rgba($c-main, 0.88)
	@include text-16-20

.title
	color: rgba($c-main, 0.4)
	@include text-14

.info
	display: flex
	flex-direction: column
	row-gap: 16px

