<app-layout-container>
	<main>
		<div class='title__info'>
			<h1 class='title'>
				Экомаркет
			</h1>
			<div class='filters__header'>
				<ng-container *ngFor='let filter of headersFilters; let i = index'>
					<app-button
						paddings='18-20'
						[borderRadius]='61'
						class='filters--btn'
						status='secondary'
						[text]='filter'></app-button>
				</ng-container>
			</div>
			<app-button
				class='filters__btn--mobile'
				status='secondary'
				text='Фильтры'
				paddings='12'
				[width]=100
				(click)='openBottomSheetFilters()'
			></app-button>

		</div>
		<div class='goods__wrapper'>
			<div class='filters__wrapper'>
				<div class='filters'>
					<app-checkbox-group
						filterGroupTitle='Пол'
						[arrCheckboxesInfo]='genderFilters'>
					</app-checkbox-group>
					<app-checkbox-group
						[hasSelectAll]='true'
						filterGroupTitle='Тип товара'
						[arrCheckboxesInfo]='categoryFilters'>
					</app-checkbox-group>
					<app-checkbox-group
						[hasSelectAll]='true'
						filterGroupTitle='Брэнд'
						[arrCheckboxesInfo]='brandFilters'>
					</app-checkbox-group>
				</div>
				<app-button class='filters__btn__reset'
				            text='Сбросить фильтры'
				            status='secondary'
				            paddings='12'
				            [width]='100'></app-button>
			</div>

			<div class='products'>
				<ng-container *ngFor='let product of cardProducts; let i = index'>
					<button class="card" [@cardFlip] = 'product.state' (click)='cardClicked(product)'>
						<div class="card__face front">
							<app-card-product
								[title]='product.data.title'
								[brand]='product.data.brand'
								[posterImg]='product.data.posterImg'
								[category]='product.data.category'
							></app-card-product>
						</div>
						<div class="face back">
							<app-balance-card></app-balance-card>
						</div>
					</button>
				</ng-container>
			</div>
		</div>
	</main>
</app-layout-container>
