@import "mixins"

\:host
	display: block
	perspective: 600px

main
	margin: 40px auto
	width: 75vw
	max-width: 1200px
	@include mobile
		margin: 20px auto

.title
	@include adaptive-font(48, 32)
	font-weight: 600

	&__info
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		width: 100%
		@include tablet
			flex-direction: column
			row-gap: 24px
			align-items: flex-start

.filters
	width: 282px
	border-radius: 16px
	border: 1px solid rgba($c-blue, 0.16)
	padding: 24px

	background-color: white

	display: flex
	flex-direction: column
	row-gap: 25px

	&__header
		display: flex
		flex-direction: row
		column-gap: 12px
		@include tablet
			display: none

	&__wrapper
		@include tablet
			display: none

	&__btn
		border-radius: 61px

		&--mobile
			width: 100%
			@include exclude-tablet
				display: none


		&__reset
			margin-top: 23px


.goods__wrapper
	margin-top: 40px
	display: flex
	flex-direction: row
	column-gap: 47px

.products
	display: flex
	justify-content: start
	column-gap: 24px
	row-gap: 48px
	flex-wrap: wrap
	@include mobile
		justify-content: center


@media only screen and (min-width: 566px)
	.card
		width: 17vw
		max-width: 274px


.card
	border-radius: 16px
	cursor: pointer
	position: relative
	transform-style: preserve-3d
	-webkit-transform-style: preserve-3d
	-moz-backface-visibility: hidden
	min-width: 200px
	height: 371px

	text-align: start

	&__face

		display: block
		position: absolute
		width: 100%
		height: 100%
		border-radius: inherit
		backface-visibility: hidden
		object-fit: cover

.back
	transform: rotateY(180deg)
	backface-visibility: hidden
	height: 100%
	width: 100%
	padding: 24px
	box-shadow: 0 12px 32px rgba($c-gray-red, 0.12), 0 4px 24px rgba($c-shadow-blue, 0.12)
	border-radius: 16px
