@import "mixins"
\:host
	display: block
	height: 100%

.wrapper
	display: flex
	justify-content: flex-end
	flex-direction: column
	height: 100%

.balance
	&__wrapper
		display: flex
		flex-direction: row
		justify-content: center
		column-gap: 8px

	&__title
		letter-spacing: -0.15px

.btns
	margin-top: 89px

.cost
	display: flex
	flex-direction: row
	align-items: center
	column-gap: 4px

	&__title
		@include text-14-20
		font-weight: 600

.addition
	margin-top: 9px

	&__text
		width: 100%
		letter-spacing: -0.15px
		color: rgba($c-main, 0.56)
		text-align: center

