<div class='wrapper'>
	<div class='info__wrapper'>
		<div class='balance__wrapper'>
			<p class='balance__title'>На&nbsp;вашем балансе</p>
			<div class='cost'>
				<img src='/assets/img/currency.png'
				     alt='currency'>
				<p class='cost__title'>200</p>
			</div>
		</div>
		<div class='addition'>
			<p class='addition__text'>
				Вы&nbsp;можете обменять их&nbsp;на&nbsp;скидку 200&nbsp;руб.
			</p>
		</div>
	</div>

	<div class='btns'>
		<app-button
			(onClick)='openQRDialog($event)'
			paddings='10'
			[width]='100'
			text='Получить промокод'></app-button>

	</div>
</div>
