@import "colors"

@mixin exclude-mobile
	@media (min-width: 479px)
		@content

@mixin mobile
	@media (max-width: 479px)
		@content

@mixin mini-tablet
	@media (max-width: 900px)
		@content

@mixin exclude-tablet
	@media (min-width: 1000px)
		@content

@mixin tablet
	@media (max-width: 1000px)
		@content

@mixin text-12-16
	font-size: 12px
	line-height: 16px

@mixin text-14
	font-size: 14px
	line-height: 18px

@mixin text-16
	font-weight: 500
	font-size: 16px
	line-height: 24px

@mixin text-14-20
	font-size: 14px
	line-height: 20px

@mixin text-16-20
	font-size: 16px
	line-height: 20px

@mixin text-16-24
	font-size: 16px
	line-height: 24px

@mixin text-20-26
	font-size: 20px
	line-height: 26px
	font-weight: 500

@mixin text-24-28
	font-size: 24px
	line-height: 28px
	font-weight: 600

@mixin text-28-32
	font-size: 28px
	line-height: 32px
	font-weight: 600

@mixin text-32-32
	font-size: 32px
	font-weight: 700

@mixin text-32-40
	@include adaptive-font(32, 24)
	font-weight: 600

@mixin text-40-48
	@include adaptive-font(48, 32)
	font-weight: 600

@mixin text-48-56
	font-size: 48px
	line-height: 56px
	font-weight: 700

$maxWidth: 1600
@mixin adaptive-font($pcSize, $mobSize)
	$addSize: $pcSize - $mobSize
	$maxWidth: $maxWidth - 375
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}))
	@media screen and (min-width: 1600px)
		font-size: #{$pcSize + px}
