@import "mixins"
\:host
	display: block

.wrapper
	background-color: white
	padding: 16px
	box-shadow: 0 2px 8px rgba(#152D671E, 0.12)
	border-radius: 8px
	@include tablet
		padding: 14px

.input
	@include text-14-20
	width: 100%
	&::placeholder
		color: rgba($c-main, 0.4)

	&__wrapper
		display: flex
		flex-direction: row
		align-items: center
		column-gap: 8px
		@include text-14-20

		&::placeholder
			color: rgba($c-main, 0.4)

