<div class='wrapper'>
	<label class='input__wrapper'>
		<app-icon [name]='iconName'></app-icon>
		<input (change)='onChange(input.value)'
		       [type]='type'
		       [placeholder]='placeholder'
		       [formControl]='input'
		       class='input'>
	</label>
</div>
