@import "mixins"

\:host
	display: block

.card
	&__wrapper
		overflow: hidden
		position: relative
		border-radius: 16px
		border: 1px solid rgba($c-blue-lite, 0.12)
		background-color: white
		padding: 40px 0 40px 40px
		height: 300px
		z-index: -2
		@include mobile
			margin: 0
			padding: 20px 0 60px 30px

	&__title
		font-weight: 600
		line-height: 40px
		@include adaptive-font(32, 24)

	&__text
		color: rgba($c-main, 0.56)
		@include text-16-24

	&__img
		position: absolute
		width: 15.9vw
		max-width: 255px
		min-width: 169px
		right: 0
		bottom: 0
		z-index: -1

	&__btn
		background: rgba($c-blue, 0.08)
		border-radius: 8px
		padding: 12px

	&__info
		@include exclude-mobile
			display: flex
			flex-direction: column
			row-gap: 14px
			height: 126px
			width: 274px

.link
	position: relative
	left: 40px
	@include exclude-mobile
		top: -88px
	@include mobile
		top: -68px


