<div class='card__wrapper'>

	<div class='card__info'>
		<h3 class='card__title'>{{title}}</h3>
		<p class='card__text'>
			{{subtitle}}
		</p>
	</div>

	<img class='card__img'
	     [src]='img'
	     alt=''>
</div>

<a [routerLink]='link' class='link'>
	<button class='card__btn'>
		<app-icon name='arrow'></app-icon>
	</button>
</a>
