<div class='wrapper'>
	<div *ngFor='let item of promocodes; let i = index'>
		<app-promocode
			[date]='item.date'
			[link]='item.link'
		></app-promocode>
		<hr class='separator'
		    *ngIf='i !== promocodes.length-1'>
	</div>
</div>

