<div class='wrapper'>
	<div *ngFor='let item of collectionPoints; let i = index'>
		<a>
			<app-collection-point-card
				(click)='addIdToQueryParams()'
				[img]='item.img'
				[address]='item.address'
				[materials]='item.materials'
			></app-collection-point-card>
		</a>
	</div>
</div>
