@import "mixins"
\:host
	display: block

.card
	&__wrapper
		display: flex
		flex-direction: row
		background-color: white
		border: 1px solid rgba($c-blue-brightly, 0.12)
		box-sizing: border-box

		box-shadow: 0 4px 24px rgba($c-main, 0.12)
		border-radius: 16px
		padding: 16px
		max-width: 384px

	&__img
		border-radius: 8px
		width: 112px
		height: 78px


	&__info
		margin-left: 16px
		@include text-14

		&__title
			margin: 0
			color: rgba($c-main, 0.88)
			font-weight: 500

		&__text
			font-weight: 400
			color: rgba($c-main, 0.48)
			margin-top: 8px
			margin-bottom: 0
