<div class='card__wrapper '>
	<img class='card__img'
	     [src]='img'
	     alt='card' />
	<div class='card__info'>
		<h4 class='card__info__title'>{{ address }}</h4>
		<p class='card__info__text'>{{ materials }}</p>
	</div>
</div>
