@import "mixins"

\:host
	display: block
	position: absolute
	padding: 12px 24px 24px 24px
	background-color: white
	margin-top: 58px
	border-radius: 20px 20px 0 0
	bottom: 0
	left: 0
	width: 100%

.btn
	&__wrapper
		width: 100%
		display: flex
		justify-content: center

	&__close
		background: rgba($c-blue, 0.24)
		border-radius: 4px
		width: 32px
		height: 3px

.wrapper
	display: flex
	flex-direction: column
	row-gap: 24px
