@import "mixins"

\:host
	padding: 48px
	background: white
	outline: none
	max-height: 100vh
	overflow: auto

	border-radius: 24px
	width: 480px
	@include mobile
		padding: 48px 16px
		width: 100vw
		height: 100vh
		border-radius: 0

