@import "mixins"

\:host
	display: block

.card
	&__wrapper
		margin-top: -30px
		max-width: 274px
		min-width: 200px

		border-radius: 16px
		background-color: transparent

		display: flex
		flex-direction: column
		width: 17vw

	&__category
		color: rgba($c-main, 0.56)
		margin-top: 5px

	&__title
		color: rgba($c-main, 0.88)
		margin-bottom: 0

	&__cost
		@include text-14-20
		font-weight: 600
		margin-left: 8px

		&__wrapper
			display: flex
			flex-direction: row
			align-items: center

	&__brand
		height: 30px
		padding: 6px 10px
		color: rgba($c-main, 0.72)

		background: white
		box-shadow: 0 4px 24px rgba(#3333331E, 0.12)
		border-radius: 10px

		display: inline-block
		justify-content: center
		margin: 0

		&__wrapper
			position: relative
			top: 54px
			margin-left: 24px
			height: 30px

@media only screen and (max-width: 550px)
	.card__wrapper
		width: 90vw
		max-width: 343px

@media only screen and (max-width: 560px)
	.card__wrapper
		width: 100%
