<div class='card__wrapper'>
	<div class='card__brand__wrapper'>
		<p class='card__brand'>{{brand}}</p>
	</div>
	<img [src]=posterImg
	     alt='' />
	<p class='card__title'>{{title}}</p>
	<p class='card__category'>{{category}}</p>
	<div class='card__cost__wrapper'>
		<img src='/assets/img/currency.png'
		     alt=''>
		<p class='card__cost'>1000</p>
	</div>
</div>
